
table{
    border-collapse: collapse;
    border-style: dashed;
}
th{
    padding: 20px;
   border: dashed;
}
td{
    border: solid 1px black;
    padding: 20px;

}
th{
    background-color: rgb(224, 233, 233);
    color: rgb(230, 11, 171);
}